<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>MUA NGAY</button>
            <ul>
                <li>{{product.price}}</li>
            </ul>
        </div>

        <div class="col-lg-9">
            <h2>{{product.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{product.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>